<%- include("../includes/head.ejs") %>

<body>
    <%- include("../includes/navigation.ejs") %>
    <br>
    <div style="text-align: center;">
        <img src="https://http.cat/500" />
    </div>
</body>
<%- include("../includes/end.ejs") %>
